.mat-elevation-z8 {
  margin: 20px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr:hover {
  cursor: pointer;
}

.mat-column-country {
  width: 4%;
}

.mat-column-year {
  width: 3%;
}

.mat-column-group {
  width: 3%;
}

.mat-column-genres {
  width: 30%;
}

a {
  color: #fff;
  text-decoration: none;
}