.mat-elevation-z8 {
  margin: 20px;
  color: #fff;
}

.table-container {
  max-height: 500px;
  overflow: auto;

  table {
    width: 100%;

    tr {
      height: 23px;
    }
  }

  .mdc-data-table__cell {
    padding: 2px 5px;
  }
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .mat-mdc-form-field {
    font-size: 14px;
    width: 300px;
    min-width: 175px;
  }
}

tr:hover {
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

/// Widths
.mat-column-album,
.mat-column-artist,
.mat-column-genres {
  width: 25%;
}

.mat-column-year {
  width: 1%;
}

.mat-column-country, .mat-column-group {
  width: 10%;
}

.mat-column-album,
.mat-column-artist,
.mat-column-genres,
.mat-column-year,
.mat-column-group,
.mat-column-country {
  border-right: 1px solid #595959;
}

mat-paginator {
  border-top: 1px solid #595959;
}
