:root {
  // Colors
  --bg-color: #232323;
  --chart-bg-color: #121212;
  --sea-color: #6495ed;
  --not-listened-color: #fff4df;
  --min-year-color: #ebd293;
  --max-year-color: #ef7a47;
  --tooltip-text-color: #5e0011;
  --nation-border-color: #540b0e;

  // Sizes
  --tooltip-max-width: 250px;
  --tooltip-min-width: 100px;
  --font-size: 11px;
  --icon-size: 12px;
}


html,
body {
  height: 100%;
  background-color: var(--bg-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip {
  color: var(--tooltip-text-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);

  
  max-width: var(--tooltip-max-width);
  min-width: var(--tooltip-min-width);

  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    line-height: 1;
  }

  span {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 3px;

    // Icons
    i {
      font-size: var(--icon-size);
    }
  }
  

}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}