/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #333;
  --sea-color: #79bcff;
  --font-size: 11px;
  --icon-size: 12px;
  --hover-color: #6c74dc;
}

.tooltip {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  max-width: 200px;
  min-width: 100px;

  h3 {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  span {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 3px;

    // Icons
    i {
      font-size: var(--icon-size);
    }
  }
  

}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.am5-tooltip {
  background-color: #ffcc00 !important;  /* Tooltip background color */
  color: #000 !important;                /* Tooltip text color */
}