/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #333;
  --sea-color: #79bcff;
  --font-size: 11px;
  --icon-size: 12px;
  --not-listened-color: #fff4df;
  --min-year-color: #ffcd90;
  --max-year-color: #ff7b00;
  --tooltip-max-width: 250px;
  --tooltip-min-width: 100px;

}

.tooltip {
  color: #780116;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);

  
  max-width: var(--tooltip-max-width);
  min-width: var(--tooltip-min-width);

  h3 {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  span {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 3px;

    // Icons
    i {
      font-size: var(--icon-size);
    }
  }
  

}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}